body{
    background-color: rgb(216, 214, 214);
    width: 60%;
    margin: 0 auto;
    padding:40px 80px;
}

.me{
    background-color: rgb(197, 195, 195);
    padding: 17px;
    font-weight: bold;
}

hr{
    position: relative;
    height: 2px;
    background: black;
}

.name{   
    width: 65%;
    float: left;
}

.introduction{
    width: 65%;
    padding-left: 30px; 
}

h1{
    width: 150px;
    padding: 30px;
    border-radius: 20px;
    border: 5px solid #7c8a84;
    background-color: #424242;
    color: #fff;
    font-size: 200%;
    text-align: center;
    line-height: 1;

}

footer{
    text-align: center;
}

.profile img{
    float: right;
    border-radius: 40px;
}

.license img{
    border-radius: 40px;
    padding: 20px 20px 20px 20px;
}

.license p{
    text-align: left;
    width: 100%;
}

.pet img{
    border-radius: 40px;
    padding: 20px 20px 20px 20px;
}

.contact{
    width: 100%;
}

.contact li{
    list-style-type: none;
    width: 250px;
    margin: 10px;
    display: flex;
 
    
}

.contact a{
    text-align: center;
    display: block;
    padding: 10px;
    border-radius: 8px;
    color: rgb(114, 110, 110);
    text-decoration: none;
    margin-left: 10px;
}

.contact a:hover{
    background: #b4b1b1;
}

.education li{
    
    width: 250px;
    margin: 10px 10px;
    
}

.education a{
    text-align: left;
    display: block;
    padding: 10px;
    border-radius: 8px;
    color: rgb(114, 110, 110);
    text-decoration: none;
    
}

.education a:hover{
    background: #b4b1b1;
}

.expectation dl{
    padding-left: 30px;
}

.description{
    padding-left: 30px;
}